# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
ENV/
.env

# Django static/media
staticfiles/
media/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
docker-compose* 